{% extends 'employees/base.html' %}

{% block content %}
    {% for w in workers %}


    <div class="card">
            <div class="card-body">
                <h6 class="mb-0">{{ w.last_name }} {{ w.first_name }}</h6>
                <p class="card-text">Дата рождения: {{ w.age }}</p>
              {% for p in positoin %}
                {% if p.id == w.pos_id %}
                    <p class="mb-0 opacity-75">Должность: {{ p.name }}</p>
                {% endif %}
              {%endfor%}
              {% for c in cats %}
                {% if c.id == w.cat_id %}
                    <p class="mb-0 opacity-75">Категория: {{ c.name }}</p>

                {% endif %}
              {%endfor%}
                <a href="{% url 'create_user' w.id %}" class="btn btn-warning">Редактировать</a>
            </div>

        </div>


    {%endfor%}
{% endblock %}
