{% extends 'employees/base.html' %}

{% block content %}
     {% for p in positoin %}
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">Обязанности: ...</p>
                <a href="{% url 'create_position' p.id %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'worker' p.id %}" class="btn btn-info">Сотрудники</a>
                <a href="{% url 'del_position' p.id %}" class="btn btn-danger">Удалить</a>
            </div>

        </div>

    {%endfor%}
{% endblock %}